/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]ssets/[Ss]amples[Rr]esources/
/[Pp]ackages/com.ptc.vuforia.engine*.tgz
/Assets/SamplesResources/
/Packages/
*.apk
*.aab
*.unitypackage
.DS_Store